#homeDefaultFlashContainer { padding:0; margin:0;}
.topSubMenuContainer{ display:none; }
#homeContentContainer{ display:none; background-position:center 0; background:none; }
.velilerHomeContentContainerForMobile { display:block !important;}
#homeSlideBannerContainer, #homeBannerContainer,#detailBannerContainer, #homeNewsContainer, #homeGalleryContainer, #footerTopContainer{ display:none; }
#footerContainer{ margin:0; }
.headerTopContainer{ margin:0; position:relative; padding:5px 0 10px; left:2%; }
#headerContainer{ background:#c11c22 ; }
.mobileTopMenuOpen{ top:20px; }
img.mobileMenu{ display:block; }
.mobileTopMenuOpenTitle{ display:none; }
.mobileTopMenuOpen img{ margin:0 15px 0 0; }
.mobileTopMenu { top: 0; background:#790c10; }
.mobileTopMenu ul li{border-bottom:none; }
#homeMobileButtonsContainer{ display:block; }
.btnKampusAra{ display:block; width:100%; padding:30px 0; color:#fff; font-size:24px; text-align:center; background: url(../images/button/btnKampusAra.png) no-repeat right top #24303b;}
.btnOkul{ display:block; width:50%; padding:30px 0; color:#fff; font-size:24px; text-align:center; background:#24303b; float:left;}
.btnOkul.btnAnaokul{background:#c11c22;}
.btnOkul.btnIlkokul{background:#8f2226;}
.btnOkul.btnOrtaOkul{background:#8b2629;}
.btnOkul.btnLise{background:#602c2e;}
.btnKayit{ display:block; width:100%; padding:30px 0; color:#fff; font-size:24px; text-align:center; background:url(../images/button/btnKayit.png) no-repeat right top #24303b; float:left;}
.btnEtkinlik{ display:block; width:100%; padding:30px 0; color:#fff; font-size:24px; text-align:center; background:url(../images/button/btnEtkinlik.png) no-repeat left bottom #1d8992; float:left;}


#detailContentHTML .pageLeft { float:none; width:100%;}
#detailContentHTML .pageRight { float:none; width:110%; margin:0 0 0 -5%;}
.pageRightMenu { margin:10px 0 0 0;}
#detailContentHTML .pageHTML { float:none;}
#detailHeaderSlide { display:none;}

.htmlEvents { padding:25px 0 !important; width:100% !important;}

.eventDetailInfoPanel .eventImage { float:none; margin:0;}
#detailContentHTML .pageHTML img { width:100%;}
.eventDetailInfoPanel .eventDetailInfo { float:none; width:100%;}

.pageRightMenu .rightMenu ul li.level0 { border-bottom:1px solid #d82e34;}
.pageRightMenu .rightMenu ul li.level0 a.selected { color:#fff;}
.pageRightMenu .rightMenu ul li.level0 a.selected::after { content: " ' bölümündeki diğer başlıklar;";}
.pageRightMenu .rightMenu ul li a { color:#fff;}
.pageRightMenu .rightMenu ul li a:hover, .pageRightMenu .rightMenu ul li a.selected { color:#24303b;}

#rightBanners { display:none;}
#footerContainer { display:none;}
#mobileFooterContainer { display:block; clear:both;}
.mobileFooterContactContainer { padding:30px 2%; width:90%; margin:0 auto;}
.mobileFooterTel { font-size:30px; font-weight:700; color:#24303b; padding:10px 5% 10px 0; border-right:1px solid #24303b; width:45%;}
.mobileFooterTel a { background:url(../images/icon/mobile-phone.png) no-repeat; color:#24303b; text-decoration:none; padding:0 0 5px 30%; display:block;}
.mobileFooterContact { font-size:30px; font-weight:700; color:#24303b; padding:10px 0 10px 5%; width:40%;} 
.mobileFooterContact a { background:url(../images/icon/mobile-posta.png) no-repeat; color:#24303b; text-decoration:none; padding:0 0 5px 30%; display:block;}
.mobileFooterSocialIcons { background:#c11c22; padding:25px 0; text-align:center;}
.mobileFooterSocialIcons a { margin:0 5%;}


#homeFlashContainer { padding:0;}
#egitimHomeContent {}
#egitimHomeContent .leftContainer { width:100%; float:none; margin:0;}
#egitimHomeContent .leftContainer p { padding:0 0 20px 0;}

.egitimHomeSloganButtonBoxContainer a { display:block; text-align:center; margin:0 0 10px 0;}

#homeSosyalMedyaContainer { display:none;}

.velilerMenuContainer { margin:0;}
#velilerGalleryContainer { display:none;}
.velilerMenu ul li { display:block; border-bottom:1px solid #202e37;}
.velilerMenu ul li:last-of-type { border:none;}
.homeUpcomingEventsContainer h1 { font-weight:400; font-size:24px;}
.homeUpcomingEventsContainer .owl-carousel { margin:10px auto 0 auto; width:100%;}
.homeUpcomingEventsContainer ul li a { box-shadow:none; width:auto;}
#homeUpcomingEventsContainer .owl-controls { top:-35px;}
#homeUpcomingEventsContainer .owl-next, #homeUpcomingEventsContainer .owl-prev { width:19px;}
#homeUpcomingEventsContainer .owl-prev { background:url(../images/etc/btn-carousel-prev-mobile-yellow.png) no-repeat 0 0; left:0;}
#homeUpcomingEventsContainer .owl-next { background:url(../images/etc/btn-carousel-next-mobile-yellow.png) no-repeat 0 0; right:0;}

#detailContentHTML .pageTitleAndBreadCrumb h2 { width:100%; font-size:30px;}
#detailContentHTML .pageTitleAndBreadCrumb .breadCrumb { width:100%;}

.contentTable tr.contentTableTitle td { font-size:100%;}
.contentTable td { padding:1%; font-size:100%;}

#homeBDContainer { background:#171f25;}
#homeBDEventCategoriesContainer { padding:0;}


#sliderCalenderContainer h1 { background:none; font-weight:400; font-size:24px; color:#fff;}
.sliderCalenderContainer ul { margin:25px 0 0 0;}
#sliderCalenderContainer .owl-controls { width:100%; top:-50px;}
#sliderCalenderContainer .owl-prev { background:url(../images/etc/btn-carousel-prev-mobile-red.png) no-repeat 0 0; left:0;}
#sliderCalenderContainer .owl-next { background:url(../images/etc/btn-carousel-next-mobile-red.png) no-repeat 0 0; right:0;}

.mapPageSearchContainer { background:#fff url(../images/etc/kampusara-mobile-baslik.jpg) no-repeat center top; padding:125px 0 50px 0;}
.mapPageSearchContainer h1 { color:#24303b;}
.homeSearchNameTextBox { float:none; margin:0 0 30px 0;}
.homeSearchCitySelect { float:none; margin:0 0 30px 0;}
.btnGosterContainer { float:none; margin:0;}
.homeSearchCitySelect .txtbox, .homeSearchNameTextBox .txtbox { width:96% !important; padding:4% 2%; background-color:#dfdfdf; border-radius:0;}
.btnGosterContainer { margin:0 !important;}
.btnGoster { padding:15px 0; width:100%; border-radius:0; border-bottom:4px solid #710f12; font-weight:700;}

.mapPageSearchContainer .homeSearchCitySelect { margin:0 0 30px 0;}

#detailContentHTML .pageTitleAndBreadCrumb { display:none;}

#storeLocationSearchRecordCount { padding:10px 2%; width:96%; margin:20px auto;}
#storeLocationSearchPlaceList { padding:10px 2%; width:96%; margin:20px auto;}

.placeDetailMap { width:100%; float:none; margin:0 0 20px 0;}

.eventCalendarRightTableContainer { width:88%; margin:20px auto;}

#egitimHomeContent .egitimBottomBoxes { display:block;}
#egitimHomeContent .egitimBottomBoxes .Btn { width:90%; float:none; margin:5px 0; padding:15px 5%; display:block;}
#egitimHomeContent .egitimBottomBoxes .Btn br { display:none;}

.footerMenu { margin:0;}
 
 
.basarilarList .listItem .itemImage { float:none; width:100%; margin:0 0 10px 0;}
#detailContentHTML .pageHTML img { height:auto;}
.basarilarList .listItem .itemInfo { width:100%; float:none;}


._404HeaderContent img {width: 130px;}
._404Page ._404HeaderContainer {margin: 0 0 20px 0;}
._404Content .left {width: 100%;border: none;text-align: center;}
._404Content .left h1 {font-size: 172px;margin: 0;}
._404Content .right {width: 100%;text-align: center;}
._404Content .right .button {width: 250px;}