.homeUpcomingEventsContainer .owl-carousel { margin: 40px auto 0; width: 50%;}
/*.homeSchoolsBannerContainer a { width: 50%;}
.homeSchoolsBannerContainer a:nth-child(3){ display:block; clear:both; }*/
.homeSchoolsBannerContainer a h1{ margin:132px 0 0 -67px; }
.homeSearchCitySelect .txtbox, .homeSearchNameTextBox .txtbox{ width:150px; }
.homeSearchCitySelect { margin: 60px 0 0 -167px;}
.homeSearchMapButton a { background: #f24738; font-size: 16px; padding: 10px 5px; text-align: center;}
.homeSlideBannerContainer .btnRed{ font-size:20px; }
.homeSlideBannerContainer h2{ font-size:40px; }
#footerTopContainer .footerItemPanel { margin: 0 0 0 1%;}
#footerBottomContainer .fBottomMenu ul li a{ padding:0 5px; }
#footerTopContainer .footerItemPanel .item h2 {font-size: 14px;}
#footerTopContainer .footerItemPanel .item h2 em{font-size:9px;}

#footerIntContainer {height: 45px;}
.footerIntContent .intOfficeLogo img {width: 35px;margin: -10px 0 0 0;}
.footerIntContent .intOfficeLogo span {margin: 12px 0 0 47px;font-size: 14px;}

#egitimHomeContent .egitimBottomBoxes .Btn { width:17%;}

._404Page ._404HeaderContainer {margin: 0 0 50px 0;}
._404HeaderContent {width: 95%;}
._404Content { width: 95%;}
._404Content .left h1 {font-size: 172px;}
._404Content .right h2 {font-size: 30px;margin: 25px 0 0 0;line-height: 37px;}
._404Content .right .button {width: 90%;}