#footerTopContainer .BKLogo { width:10%; }
#footerTopContainer .pageTopBtn { background-size:100%; width:5%;}
.homeSearchCitySelect { margin: 60px 0 0 -195px;}
.homeSearchNameTextBox { display: block; margin: 15px 0 0 24px;}
.homeSearchYaDa{ display:none; }
.homeSearchMapButton a{ margin:0 0 0 20px;}

.mapPageSearchContainer .wrapper { width:auto; display:table;}
.mapPageSearchContainer .homeSearchCitySelect { margin:15px 0 0 25px;}
.mapPageSearchContainer .homeSearchNameTextBox {}
.mapPageSearchContainer .btnGosterContainer { margin:110px auto 0 auto; clear:both; float:none; display:table;}
.mapPageSearchContainer .btnGosterContainer .btnGoster { padding:6px 20px;}
.mapPageSearchContainer .homeSearchMapButton a { margin:0;}

.homeUpcomingEventsContainer .owl-carousel{ width:87%; margin:40px auto 0; }
#homeUpcomingEventsContainer .owl-next, #homeUpcomingEventsContainer .owl-prev{ width:55px; background-size:contain; }
#homeUpcomingEventsContainer .owl-prev{ left:-60px; }
#homeUpcomingEventsContainer .owl-next{ right:-55px; }
.homeUpcomingEventsContainer h1{ background-size:100% 0px; }
.homeNewsContainer h3{ font-size:20px; margin:0 0 15px; }
.homeNewsContainer p, .homeNewsContainer .btnDevam{ font-size:14px; }
.homeNewsContainer p{ padding:15px 0 0; }
#homeNewsContainer .owl-controls{ bottom:10px; }
.btnArsiv{ margin:-56px 0 0 100px; }
.homeSocialMediaIcons{ width:53%; }
#footerTopContainer .footerItemPanel{width: 89%; margin:5px 0 0 1%;}
#footerBottomContainer .fBottomMenu ul li a, #footerBottomContainer .fBottomRight p, #footerBottomContainer .fBottomRight p a{ font-size:11px; }
#footerTopContainer .footerItemPanel .item h2 em{ font-size:18px; }
#footerTopContainer .footerItemPanel .item h2{ font-size:16px; }

#footerIntContainer {height: 55px;}
.footerIntContent .intOfficeLogo img {width: 46px;margin: -10px 0 0 0;}
.footerIntContent .intOfficeLogo span {margin: 15px 0 0 58px;font-size: 17px;}

.homeSocialMediaIcons .linkOne, .homeSocialMediaIcons .linkTwo, .homeSocialMediaIcons .linkThree{ display:block; float:left; width:33.3%; }
.homeSocialMediaIcons .linkFour{ display:block; clear:both; width:50% }
.homeSocialMediaIcons .linkFive{ display:block; float:left; width:50% }
.homeSocialMediaIcons .linkFour img, .homeSocialMediaIcons .linkFive img{ display:block; width:100%; }
.homeSocialMediaIcons {  background: #f1f1f1;  padding: 25px 0; width: 53%;}
.mobileTopMenu{ top:125px; }
.velilerSlideBannerContainer .slick-slide img{ width:190px; }
.velilerSlideBannerContainer .slick-center img{ width:240px; }
.velilerSlideBannerContainer .slick-center h2{  font-size:30px; }
.velilerSlideBannerContainer .slick-center h1{ font-size:24px; }
.velilerSlideBannerContainer .slick-slide h2{ font-size:18px; }
.btnOkuyun { background: #ff0000; border-radius: 5px; color: #fff; font-size: 20px; margin: 55px auto 0; padding: 15px 0; text-align: center; text-decoration: none; width: 240px;}
#velilerGalleryContainer .videoContainer{ width:45.4%; }
#velilerGalleryContainer img{ width:100%; }
#velilerGalleryContainer .photoContainer { display: table; margin: auto; width:54%;}
#twitter-news .user img{ width:auto; }
#detailContentHTML .pageTitleAndBreadCrumb h2{ font-size:38px; }
.publicationsList .listItem .itemInfo .infoText{ width:46%; }
.publicationsList .listItem .itemInfo .infoText h3{ font-size:20px; }
.publicationsList .listItem .itemInfo{ float:left; }
.newsListContainer .listItem .itemImage{ width:100%; margin:0; }
.newsListContainer .listItem .itemInfo { display: block; float: left; margin: 20px 0 0; width: 100%;}
#detailContentHTML .pageHTML p { color: #24303b; font-size: 14px; line-height: 20px; padding: 10px 0; text-align: justify;}
.newsListContainer .listItem .itemInfo h3{ font-size:22px; }
#haberlerListeYillarContainer{ margin:0 0 40px; }